<section>
  <div class="first">
    <img
      id="first-img"
      class="img-fluid"
      src="assets/contact/contact.png"
      alt="Contact Image"
    />
  </div>
  <div class="container half">
    <div class="row d-flex justify-content-evenly outer">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="contact">
          <div class="row x">
            <div class="col-12">
              <i class="fa-solid fa-map icon"></i>
            </div>
            <div class="col-12">
              <h3>Adress</h3>
            </div>
            <div class="col-12">
              <p>
                2nd Floor,Ashoka Raghupathi Chambers,H.No. 1-10-60, adj.to
                Prakash Nagar Metro Station,Beg..
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="contact">
          <div class="row x">
            <div class="col-12">
              <i class="fa-regular fa-envelope icon"></i>
            </div>
            <div class="col-12">
              <h3>Email</h3>
            </div>
            <div class="col-12">
              <p>likitha@123gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="contact">
          <div class="row x">
            <div class="col-12">
              <i class="fa-solid fa-map icon"></i>
            </div>
            <div class="col-12">
              <h3>call Timing</h3>
            </div>
            <div class="col-12">
              <p>Mon - Sat (9:30 AM - 6.30 PM) +919087654321</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <div class="text-center">
            <h3>Drop Your Query</h3>
          </div>
          <p class="text-center">
            Have a question, comment, or just want to say hello? We'd love to
            hear from you! Drop us a message using the form below, and we'll get
            back to you as soon as possible.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex third align-items-center">
      <div class="col-md-6 mb-4">
        <img
          id="third-img"
          class="img-fluid"
          src="assets/contact/contact-second.png"
          alt="Contact Image"
        />
      </div>
      <div class="col-md-6">
        <form class="third-form">
          <div class="mb-3 hi">
            <span><i class="fa-solid fa-user"></i></span>
            <input
              class="w-input"
              required
              type="text"
              placeholder="FullName"
            />
          </div>
          <div class="mb-3 hi">
            <span><i class="fa-regular fa-envelope"></i></span>
            <input class="w-input" required type="email" placeholder="E-mail" />
          </div>
          <div class="mb-3 hi">
            <span><i class="fa-solid fa-mobile"></i></span>
            <input
              class="w-input"
              required
              type="text"
              placeholder="Mobile number"
            />
          </div>
          <div class="mb-3">
            <textarea class="w-input" required placeholder="Message"></textarea>
          </div>
          <button class="btn btn-lg btn-form-control">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60901.10046696988!2d78.465749!3d17.44445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9126c3f6434d%3A0xadf7dea0edf1e45e!2sX-YUG%20TECHNOLOGIES%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1716358204462!5m2!1sen!2sin"
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
