<section class="about">
  <div class="first">
    <img
      class="img"
      src="https://goldcentral-testing.s3.ap-south-1.amazonaws.com/1715150015356-123708983-all-countries-banner.jpg"
    />
  </div>
  <div class="second">
    <div class="container my-2 mb-4">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="my-3">About Us</h4>
          <p>
            Welcome to GoldCentral, your ultimate destination for everything
            related to gold investing, mining, and market trends. In this
            comprehensive guide, we delve into the fascinating world of gold,
            uncovering its historical significance, investment potential, and
            the latest developments shaping the industry.
          </p>
          <p>
            Gold has captivated humanity for millennia, symbolizing wealth,
            power, and prestige across cultures and civilizations. From ancient
            civilizations to modern economies, gold has retained its allure as a
            store of value and a hedge against economic uncertainty. Explore the
            rich history and cultural significance of gold, from its use in
            ancient rituals to its role in shaping global economies.
          </p>
        </div>
        <div class="col-lg-6">
          <img
            class="gdl"
            src="https://goldcentral-testing.s3.ap-south-1.amazonaws.com/1715149998106-801598240-62723193019427.Y3JvcCw4OTQsNzAwLDU1LDA.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
