<footer class="whole-footer pt-3">
  <div class="container in-top p-0">
    <div class="row d-flex justify-content-between flex-wrap align-items-start p-0 m-0">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="x inner">
          <div>
            <img
              class="img"
              src="https://goldcentral-testing.s3.ap-south-1.amazonaws.com/1715147478013-781743630-GOLD%20CENTRAL%20HUB%20%281%29%20%281%29.png"
            />
          </div>
          <div>
            <ul>
              <li>
                Welcome to GoldCentral, your ultimate destination for everything
                related to gold investing, mining, and market trends. In this
                comprehensive guide, we delve into the fascinating world of
                gold, uncovering its historical significance, investment
                potential, and the latest developments shaping the ...
              </li>
            </ul>
          </div>
          <div class="logos mx-3">
            <div class="icon">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-square-instagram"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-youtube"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="x aus col-lg-2 col-md-3 col-12 position-relative">
        <h3>About us</h3>
        <div class="under position-absolute"></div>
        <ul>
          <li>Terms and conditions</li>
          <li>Privacy Policy</li>
          <li>FAQ'S</li>
          <li>Updates</li>
        </ul>
      </div>

      <div class="x ose col-lg-2 col-md-3 col-12 position-relative">
        <h3>Our Services</h3>
        <div class="under position-absolute"></div>
        <ul>
          <li>Sell Gold</li>
          <li>kj</li>
          <li>tests</li>
        </ul>
      </div>

      <div class="x cus col-lg-4 col-md-6 col-12 position-relative">
        <h3>Contact us</h3>
        <div class="under position-absolute"></div>
        <ul>
          <li>
            <i class="fa-solid fa-phone-volume"></i>
            <span><b>Phone :</b> +91-9087654321</span>
          </li>
          <li>
            <i class="fa-regular fa-envelope"></i>
            <span><b>Email :</b> likitha@123gmail.com</span>
          </li>
          <li>
            <i class="fa-solid fa-location-dot"></i>
            <span>
              <b>Address :</b> 2nd Floor,Ashoka Raghupathi Chambers,H.No. 1-10-60,
              adj.to Prakash Nagar Metro Station,Begumpet,Hyderabad,Telangana
              500016
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ft-btm row d-flex justify-content-center">
    <h6 class="" style="color: black;">Copyright @2024 GoldCentral Designed By X-YUG</h6>
  </div>
</footer>
