<div class="forgot">
  <div class="inside-all container">
    <div class="row">
      <div class="col-lg-5 col-md-7 sign-in-left d-flex align-items-center">
        <div class="middle-content">
          <div class="logo-image my-3">
            <img id="logo" src="assets/user/signin/signin-gc-logo.png" />
          </div>
          <h3>Update your password</h3>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="form-group s-in">
              <label for="email">Email</label>
              <input
                formControlName="email"
                type="email"
                class="form-control my-3"
                id="email"
                placeholder="Enter your email address"
              />
              <span><i class="fa-regular fa-envelope"></i></span>
              <div *ngIf="submitted && updateForm.controls['email'].errors" class="text-danger">
                <div *ngIf="updateForm.controls['email'].errors['required']">Email is required</div>
                <div *ngIf="updateForm.controls['email'].errors['email']">Email is invalid</div>
              </div>
            </div>
            <div class="form-group my-4">
              <button type="submit" class="btn s-btn">Verify Email</button>
            </div>
            <div *ngIf="verified===1" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Alert !</strong> Verify your Email
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div *ngIf="verified===2" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Alert !</strong> Email does not exist!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div *ngIf="verified===3" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Alert !</strong> Please log out to continue furthur process!!!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-7 sign-in-right">
        <img id="wrt-img" src="assets/user/signin/signin-img.png" />
      </div>
    </div>
  </div>
</div>
