<div class="edit">
    <div class="inside-all container">
      <div class="row">
        <div class="col-lg-5 col-md-7 sign-in-left d-flex align-items-center">
          <div class="middle-content">
            <div class="logo-image my-3">
              <img id="logo" src="assets/user/signin/signin-gc-logo.png" />
            </div>
            <h3>Update your password</h3>
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
              
              <div class="form-group s-in">
                <label for="password">New Password</label>
                <input
                  formControlName="password"
                  [type]="fieldTextType ? 'text' : 'password'"
                  class="form-control my-3"
                  id="password"
                  placeholder="Enter your new password"
                />
                <span
                  ><i
                    class="fa-solid"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }"
                    (click)="toggleFieldTextType()"
                  ></i
                ></span>
                <div *ngIf="submitted && updateForm.controls['password'].errors" class="text-danger">
                  <div *ngIf="updateForm.controls['password'].errors['required']">Password is required</div>
                  <div *ngIf="updateForm.controls['password'].errors['minlength']">Password must be at least 8 characters</div>
                  <div *ngIf="updateForm.controls['password'].errors['pattern']">
                    Password must contain at least one digit, one lowercase letter, and one uppercase letter
                  </div>
                </div>
              </div>
              <div class="form-group s-in">
                <label for="confirmpassword">Confirm Password</label>
                <input
                  formControlName="confirmPassword"
                  [type]="fieldTextType2 ? 'text' : 'password'"
                  class="form-control my-3"
                  id="password2"
                  placeholder="Enter your Confirm Password"
                />
                <span
                  ><i
                    class="fa-solid"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType2,
                      'fa-eye': fieldTextType2
                    }"
                    (click)="toggleFieldTextType2()"
                  ></i
                ></span>
                <div
                  *ngIf="
                    submitted && updateForm.controls['confirmPassword'].errors
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      updateForm.controls['confirmPassword'].errors['required']
                    "
                  >
                    Confirm password is required
                  </div>
                  <div
                    *ngIf="
                      updateForm.controls['confirmPassword'].errors['matching']
                    "
                  >
                    Passwords do not match
                  </div>
                </div>
              </div>
              <div class="form-group my-4">
                <button type="submit" class="btn s-btn" [disabled]="true" *ngIf="!flag">Update Password]</button>
                <button type="submit" class="btn s-btn" [disabled]="false" *ngIf="flag">Update Password</button></div>
              <p class="text-center">
                Go to Sign in page >>><a routerLink="/signin">Sign in</a>
              </p>
            </form>
          </div>
        </div>
        <div class="col-lg-7 sign-in-right">
          <img id="wrt-img" src="assets/user/signin/signin-img.png" />
        </div>
      </div>
    </div>
  </div>
  