<div class="signin">
  <div class="inside-all container">
    <div class="row">
      <div class="col-lg-5 col-md-7 sign-in-left d-flex align-items-center">
        <div class="middle-content">
          <div class="logo-image my-3">
            <img id="logo" src="assets/user/signin/signin-gc-logo.png" />
          </div>
          <h3>Sign in</h3>
          <p>Please log in to your account</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group s-in">
              <label for="email">Email</label>
              <input
                formControlName="email"
                type="email"
                class="form-control my-3"
                id="email"
                placeholder="Enter your email address"
              />
              <span><i class="fa-regular fa-envelope"></i></span>
              <div
                *ngIf="submitted && loginForm.controls['email'].errors"
                class="text-danger"
              >
                <div *ngIf="loginForm.controls['email'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="loginForm.controls['email'].errors['email']">
                  Email is invalid
                </div>
              </div>
            </div>
            <div class="form-group s-in">
              <label for="password">Password</label>
              <input
                formControlName="password"
                [type]="fieldTextType ? 'text' : 'password'"
                class="form-control my-3"
                id="password"
                placeholder="Enter your password"
              />
              <span
                ><i
                  class="fa-solid"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"
                ></i
              ></span>
              <div
                *ngIf="submitted && loginForm.controls['password'].errors"
                class="text-danger"
              >
                <div *ngIf="loginForm.controls['password'].errors['required']">
                  Invalid password format. Password must contain at least one
                  digit, one lowercase letter, one uppercase letter, and be at
                  least 8 characters long.
                </div>
              </div>
            </div>
            <div class="form-group my-4">
              <a routerLink="/update">Forgot password?</a>
            </div>
            <div class="form-group my-4">
              <button type="submit" class="btn s-btn">Sign in</button>
            </div>
            <p class="text-center">
                Don't have an account ? <a routerLink="/authenticate/signup">Sign up</a>
              </p>
              <p class="text-center">
                Don't have an account ? <a routerLink="/authenticate/forgotcredentials">Forgot password</a>
              </p>
              <div *ngIf="verified" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> Please Verify your Email First. </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div *ngIf="newUser" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> Please Sign Up First. </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div *ngIf="wrongPassword" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> Wrong Password </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          </form>
        </div>
      </div>
      <div class="col-lg-7 sign-in-right">
        <img id="wrt-img" src="assets/user/signin/signin-img.png" />
      </div>
    </div>
  </div>
</div>
