  <owl-carousel-o [options]="customOptions" class="d-flex align-items-center">
    <ng-template  carouselSlide><span class="owl-div"><img class="owl-img vn" src="assets/images/goldsikka.png" /></span></ng-template>  
    <ng-template  carouselSlide><span class="owl-div"><img class="owl-img tw pt-5 ps-5 pe-5" src="assets/images/x-yug.png" /></span></ng-template>  
    <ng-template  carouselSlide><span class="owl-div"><img class="owl-img tri " src="assets/images/Matrika-Logo.png" /></span></ng-template> 
    <ng-template  carouselSlide><span class="owl-div"><img class="owl-img for " src="assets/images/paysikka.jpg" /></span></ng-template>   
  </owl-carousel-o>