<section class="services">
<div class="first">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6">
        <div class="text-center">
          <h3>Our Services</h3>
        </div>
        <p class="text-center">
          Have a question, comment, or just want to say hello? We'd love to hear
          from you! Drop us a message using the form below.
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row d-flex justify-content-evenly outer my-5">
      <a href="/updates" class="col-lg-4 contact">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-12 icon-div d-flex justify-content-center">
            <img class="i" src="https://goldcentral-testing.s3.ap-south-1.amazonaws.com/1714987052047-765577506-repairimage%20%281%29.png"></div>
         <div class="col-lg-12 d-flex justify-content-center"><h4>Sell Gold</h4></div>
        </div>
      </a>
      <a href="/updates" class="col-lg-4 contact">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-12 icon-div d-flex justify-content-center">
            <img class="i" src="https://goldcentral-testing.s3.ap-south-1.amazonaws.com/1714987072455-532562940-sellimage%20%281%29.png"></div>
         <div class="col-lg-12 d-flex justify-content-center"><h4>kj</h4></div>
        </div>
      </a>
      <a href="/updates" class="col-lg-4 contact">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-12 icon-div d-flex justify-content-center">
            <img class="i" src="https://goldcentral-testing.s3.ap-south-1.amazonaws.com/1714987122222-767926296-schemeimage%20%281%29.png"></div>
         <div class="col-lg-12 d-flex justify-content-center"><h4>Tests</h4></div>
        </div>
      </a>
    </div>
  </div>
</div>
</section>