<div class="container main">
  <div class="row d-flex justify-content-center">
    <div class="middle mb-3">
      <!-- <input class="border mb-1" type="text" placeholder="Enter OTP" #otp /> -->
      <div
        class="btn btn-custom pe-1 btn-sm"
        routerLink="/"
        (click)="otpVerify()"
      >
        <h1>verify otp</h1>
      </div>
    </div>
  </div>
</div>

<!-- <section>
  <div class="demo-container">
    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
  </div>
</section> -->